/* Write your CSS here */

.notificationItemsCon {
  display: flex;
  flex-direction: column;
}
.notificationItemsCard {
  background-color: #e5e5e5;
  border: 1px #64748b solid;
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
  justify-content: space-between;
}
.close_icon {
  height: 20px;
  width: 20px;
  align-self: center;
}
